.checkbox-input {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

.checkbox-custom {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;

  & i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
