@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";

// body {
//   margin: 0;
// }

.bg-main-pattern {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../assets/svg/bg-pattern.svg");
    background-size: 1000px;
    background-position-x: center;
    background-repeat: repeat;
    opacity: 0.3;
  }
}

.vertical-dash {
  position: absolute;

  &:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 1px;
    background-color: #fff;
    inset: 0;
    transform: translateY(-50%);
  }
}

.border-bottom-light {
  border-bottom: 1px solid $light-color;
}

.bg-gradient-primary {
  background: $gradient-primary;
}

.button {
  border-radius: 6.25rem;

  &.button-primary {
    background: $gradient-primary;
  }

  &.button-outline {
    box-shadow: inset 0 0 0 1px #fff;
    background-color: #000;
  }
}

.pill {
  border-radius: 6.25rem;

  &.pill-primary {
    background: $gradient-primary;
  }

  &.pill-outline {
    box-shadow: inset 0 0 0 1px #fff;
    background-color: #000;
  }
}

// .text-primary {
//   color: $primary-color;
// }

// .text-light {
//   color: $light-color;
// }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input:focus {
  outline: none;
  box-shadow: 0 0 3px 5px rgba($primary-color, 0.5);
  transition: box-shadow 0.15s ease-out;
}
